{% extends 'base.html.twig' %}

{% block title %}Fichefrais{% endblock %}

{% block body %}
    <h1>Fichefrais</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Mois</th>
                <td>{{ fichefrai.mois }}</td>
            </tr>
            <tr>
                <th>Nbjustificatifs</th>
                <td>{{ fichefrai.nbjustificatifs }}</td>
            </tr>
            <tr>
                <th>Montantvalide</th>
                <td>{{ fichefrai.montantvalide }}</td>
            </tr>
            <tr>
                <th>Datemodif</th>
                <td>{{ fichefrai.datemodif ? fichefrai.datemodif|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fichefrais_index') }}">back to list</a>

    <a href="{{ path('fichefrais_edit', {'mois': fichefrai.mois}) }}">edit</a>

    {{ include('fichefrais/_delete_form.html.twig') }}
{% endblock %}
